<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-8 text-center">
      <h5 class="text-center">Reporte de Abonos</h5>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-8">
      <div class="row justify-content-center">
        <div class="col-6">
          <table
            class="table table-sm table-hover table-bordered table-striped"
            style="font-size: small;white-space:nowrap;overflow-x: auto;"
          >
            <thead class="text-center">
              <tr>
                <th class="text-center">Bandeja</th>
                <th class="text-center">Evento_Tarifa</th>
                <th class="text-center">Precio</th>
                <th class="text-center">Abonos</th>
                <th class="text-center">Final</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
                <tr>
                  <td>{{this.Bandeja}}</td>
                  <td>{{this.Tarifa}}</td>
                  <td align="right">{{this.Precio}}</td>
                  <td align="right">{{this.Entradas}}</td>
                  <td align="right">{{this.Final}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-l-8 col-xs-8 justify-content-center">
      <a
        href="./abonos/descargar/{{archivo}}"
        class="btn btn-success mt-2 ml-4"
      >Descargar CSV</a>
    </div>
  </div>
</div>