<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-8 text-center">
      <h5 class="text-center">Reporte de Accesos</h5>
      {{#if long}}{{else}}
        <span class="text-danger"><b>No hay datos para la consulta</b></span>
      {{/if}}
    </div>
  </div>
  {{#if long}}
    <div class="row align-items-center">
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <table
              class="table table-hover table-bordered table-striped"
              style="font-size: small;white-space:nowrap;overflow-x:auto;"
            >
              <thead class="text-center">
                <tr>
                  <th>Socio</th>
                  <th>Nombre</th>
                  <th>Categoría</th>
                  <th>Sector</th>
                  <th>Cat</th>
                  <th>Descripción</th>
                  <th>Id_Producto</th>
                  <th>Cuo_Soc</th>
                  <th>Ing</th>
                  <th>Imp</th>
                </tr>
              </thead>
              <tbody>
                {{#each socio}}
                  <tr>
                    <td>{{this.Nro_Socio}}</td>
                    <td>{{this.Nom}}</td>
                    <td>{{this.Categoria_de_Socio}}</td>
                    <td>{{this.Sector}}</td>
                    <td>{{this.Sector}}</td>
                    <td>{{this.Cat}}</td>
                    <td>{{this.Descripcion}}</td>
                    <td>{{this.Id_Producto}}</td>
                    <td>{{this.Cuo_Soc}}</td>
                    <td>{{this.Ing}}</td>
                    <td>{{this.Imp}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
  <div class="container-fluid">
    <div class="row align-items-center d-flex">
      <div class="col-lg-8 col-xs-12 justify-content-center text-center">
        <a href="/reportes/accesos" class="btn btn-success mt-2 ml-4">Nueva
          Consulta</a>
      </div>
    </div>
  </div>
</div>