<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-8">
      <h5 class="text-center">Reporte de Cajas: {{sucursal}}/{{fechaLit}}</h5>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-8">
      <div class="row">
        <div class="col-6">
          <table
            class="table table-hover table-bordered table-striped"
            style="font-size: small;white-space:nowrap;overflow-x:auto;"
          >
            <thead class="text-center">
              <tr>
                <th>Caja</th>
                <th>Cajero</th>
                <th>Fecha</th>
                <th>Sede</th>
                <th>Cuentas</th>
                <th>Cheques</th>
                <th>DebAut</th>
                <th>Efvo</th>
                <th>MP</th>
                <th>TJ</th>
                <th>Efy_no</th>
                <th>Subt_TjD</th>
                <th>Subt_TjC</th>
                <th>Subt_TjF</th>
              </tr>
            </thead>
            <tbody>
              {{#each data}}
                <tr>
                  <td>{{this.Caja}}</td>
                  <td>{{this.Cajero}}</td>
                  <td>{{this.Fecha}}</td>
                  <td>{{this.Sede}}</td>
                  <td>{{this.Cuentas}}</td>
                  <td>{{this.Cheques}}</td>
                  <td>{{this.DebAut}}</td>
                  <td>{{this.Efectivo}}</td>
                  <td>{{this.MercadoPago}}</td>
                  <td>{{this.Tarjetas}}</td>
                  <td>{{this.Efy_No}}</td>
                  <td>{{this.subt_TjD}}</td>
                  <td>{{this.subt_TjC}}</td>
                  <td>{{this.subt_TjF}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-l-8 col-xs-8 justify-content-center">
      <a
        href="./cajas/descargar/{{archivo}}"
        class="btn btn-success mt-2 ml-4"
      >Descargar CSV</a>
    </div>
  </div>
</div>